extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/fr') ← Retour
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9

        
        h1 AIT BAZIZ Oussama

        
        p.lead.text-light
          | Développeur JavaScript Full Stack 

        
        .portfolio-bio
          p
            | Le code ? Ma première interaction avec  les langages informatiques date de dix années en arrière.
            br
            br
            | Je me souviens avoir pu intégrer un chat en temps réel pour les élèves passant leur examen du Baccalauréat (j’étais parmi eux) après quelques jours passés sur le site du zéro; c’était tellement fun que je m’étais convaincu de me mettre sur la quête d’apprentissage du code et la programmation.
            br
            br
            |  Hélas après mon BAC je n’avais pas réussi à décrocher une moyenne assez pour faire informatique à l’université, depuis j’ai totalement capitulé devant les choix de carrière forcés ! Pendant ce temps-là j’ai vu mon rêve de suivre ma passion fondre avec les années… 
            br
            br
            |  2018 est là, hey je suis Ingénieur en Génie Civil !
            br
            br
            |  Deux semaines après ma soutenance j’ai été recruté comme Ingénieur au Laboratoire chez COSIDER Construction, tout se passait bien jusqu’à ce que je me suis dit que c’est nullement ce que j’ai toujours eu envie de faire de ma vie autre fois ? Après mûre réflexion et BEAUCOUP d’hésitation j’ai tout laissé tomber pour me mettre à plein temps au cours de développement web et vous voilà lire ma petite histoire sur mon propre portfolio :)
            br
            br
            |  Aujourd’hui, raviver mon rêve de devenir développeur a été possiblement la meilleure décision que j’ai eu à prendre de toute ma vie jusqu’ici. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Compétences

        ul
          li HTML5/CSS3
          li JavaScript/ES6/ES7/ES8...
          li jQuery
          li React JS
          li NodeJS/Express
          li Pug(Jade) Templating
          li REST APIs/JSON
          li Rapports SQL
          li Sequelize ORM
          li Authentification
          li Git/GitHub
        h6 Contactez-moi

        
        ul
          li +213 540 180 574
          li contact@aitbazizoussama.com

        a.button.expanded(href='https://github.com/amnaatarapper', target='_blank') GitHub
        a.button.expanded(href='/static/CV.pdf', target='_blank') Curriculum Vitae
  nav.grid-container.portfolio-breadcrumb
    a(href='/fr') ← Retour
  