extends layout_en.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/en') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-12.medium-9.large-9

        
        h1 AIT BAZIZ Oussama

        
        p.lead.text-light
          | JavaScript Full Stack Developer based in Algiers.

        
        .portfolio-bio
          p
            | The code? My first interaction with computer languages goes back ten years.
            br
            br
            | I remember being able to embedd a real-time chat for students taking their Baccalaureate exam (I was among them) after a few days spent around webdev courses; It was so much fun that I convinced myself to put myself on the quest of code learning and programming.
            br
            br
            | After my Baccalaureate I couldn't hit the pass mark to follow computer science at university, since then I completely surrenderd to forced career choices! During that time I saw my dream of following my passion melting as time goes on…
            br
            br
            |  2018 is here, hey I’m a civil engineer!
            br
            br
            |  Two weeks after my graduation I was recruited as an Engineer at the Laboratory in COSIDER Construction, everything was going well until I thought it was by no means what I always wanted to do with my life back then. After careful consideration and a ton of hesitation I gave up everything to put myself full time on the web development, and here you are reading my little story on my own portfolio :)
            br
            br
            |  Today, rekindling my dream of becoming a developer has possibly been the best decision I’ve ever had to make in my entire life so far.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML5/CSS3
          li JavaScript
          li jQuery
          li React JS
          li NodeJS/Express
          li Pug(Jade) Templating
          li REST APIs/JSON
          li SQL Reporting
          li Sequelize ORM
          li Authentification
          li Git/GitHub
          li Agile/Scrum
        h6 Contact-me

        
        ul
          li +213 540 180 574
          li 
            a(href="mailto:contact@aitbazizoussama.com", style="color: lightgreen;") contact@aitbazizoussama.com

        a.button.expanded(href='https://github.com/amnaatarapper', target='_blank') GitHub
        a.button.expanded(href='/en/about', target='_blank') Curriculum Vitae
        a.button.expanded(href='https://www.credential.net/13940467', target='_blank') Certificate
  nav.grid-container.portfolio-breadcrumb
    a(href='/en') ← Back
  