extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Bonjour! Vous avez un projet web en tête? Créons le ensemble :)

      p.lead.text-light
        | Vitrine web, e-boutique, applications web/mobile...

  article.grid-container.portfolio-index
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each val, index in render
        .cell
          a(href="/project/" + render[index][0])
            img.thumbnail(src="/static" + render[index][2])
            h5= render[index][1]
      
