extends layout_en.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Hello!
      h1 Thinking about a web project?
      h1 Let's build it together!
      h1 Sky is the limit :)

      p.lead.text-light
        | Web apps, REST APIs, e-commerce platformes...
   
      .grid-x
        .cell.medium-6 
          a.button.secondary(href="/en/about") Hire me
          a.button(href="/static/CV.pdf", target='_blank') Curriculum Vitae

  
  article.grid-container.portfolio-index
    h2.projects My projects
    hr 
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each val, index in render
        .cell
          a(href="/en/project/" + render[index][0])
            img.thumbnail(src="/static" + render[index][2])
            h5= render[index][1]
      
